.realtime-dashboard[data-v-3a24545d]{padding:24px}.kpi-card[data-v-3a24545d]{cursor:pointer;transition:transform .2s}.kpi-card[data-v-3a24545d]:hover{transform:translateY(-5px)}.text-xs[data-v-3a24545d]{font-size:12px}
